<div *ngIf="blogEntry" class="wrapper" ngClass.lt-md="wrapper--lt-md" ngClass.gt-md="wrapper--gt-md" fxLayout="row" fxLayoutAlign="center"
     fxLayout.xs="column" fxLayoutAlign.xs="center center">
  <div class="entry">
    <h1 class="entry__title">{{blogEntry.title}}</h1>
    <div class="entry__category">{{blogEntry.category}}</div>
    <div class="entry__text">{{blogEntry.text}}</div>
    <div class="entry__saved">Id: {{blogEntry.id}}<br>
      erstellt am: {{blogEntry.dateCreated | date: 'EE dd.MM.yyyy GG - HH:ss'}} Uhr<br>
      letzte Änderung am: {{blogEntry.dateModified | date: 'EE dd.MM.yyyy GG - HH:ss'}} Uhr<br>
    </div>
  </div>
</div>
