@import '../../../styles/theme';

:host {
  display: block;
}

.wrapper {
  background-color: mat-color($sub-background, card);
  padding: 64px 24px;
  height: 100%;
}

.wrapper--lt-md {
  padding: 32px 16px;
}

.wrapper--gt-md {
  padding: 64px 24px;
}

.thumbnail {
  display: block;
  margin: 0 auto;
  max-width: 30vmin;
}

.info {
  max-width: 400px;
}

.info__title {
  color: mat-color($sub-foreground, text);
  font-family: 'Special Elite', sans-serif;
  font-size: mat-font-size($sub-typography, display-2);
  font-weight: mat-font-weight($sub-typography, display-4);
  line-height: mat-line-height($sub-typography, display-2);
  margin: 0 0 24px;
}

.info__description {
  color: mat-color($sub-foreground, secondary-text);
  font-size: mat-font-size($sub-typography, subheading-2);
  font-weight: mat-font-weight($sub-typography, subheading-2);
  line-height: mat-line-height($sub-typography, subheading-1);
  border-bottom: solid 1px #ddd;
  padding-bottom: 24px;
}

.info__download {
  padding-top: 16px;
}
